# Additional practice

Use this notebook to read through and execute cells, testing what you've learnt in class with the other notebook and experimenting yourself with the data in the imported dataframes.

## Initial set up

Import relevant libraries:

In [65]:
import numpy as np
import pandas as pd
import os
import random

NOTE: Only necessary in COLAB

Mount Drive content:

In [66]:
#drive_loc = '/content/gdrive'
#files_loc = os.path.join(drive_loc, 'MyDrive', 'pdsfiles')

#from google.colab import drive
#drive.mount(drive_loc)

In [67]:
#!mkdir -p {files_loc}

# Using `iloc` and `loc` to select rows and columns in Pandas DataFrames

Remember, `ix` is deprecated as of Pandas 0.20, so we'll be using `loc` and `iloc`.

In [68]:
#!wget https://bit.ly/ks-pds-csv4 -O {files_loc}/uk_data.csv
#contents = !ls {files_loc}/*uk_data*
uk_data_file = 'uk_data.csv'

In [69]:
# read the data from a CSV file.
data = pd.read_csv(uk_data_file)
# set a numeric id for use as an index for examples.
np.random.seed(0)
data['id'] = [random.randint(0,1000) for x in range(data.shape[0])]
 
data.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,436
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,973
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,549
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,755
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,352

In [70]:
data.shape

(500, 12)

In [71]:
data.size

6000

In [72]:
len(data)

500

In [73]:
len(data.columns)

12

## Using `iloc`

Let's do single selections using iloc for dataframes, starting with the rows.

This selects the first row of the data frame (note the Series data type output):

In [74]:
data.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
id                                               436
Name: 0, dtype: object

Let's now select the second row of the data frame:

In [75]:
data.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
id                                            973
Name: 1, dtype: object

We can do the last row as well, using the familiar Python syntax for it:

In [76]:
data.iloc[-1]

first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
id                                                      755
Name: 499, dtype: object

Let's do the same by columns:

In [77]:
data.iloc[:,0] # first column of data frame (first_name)

0          Aleshia
1             Evan
2           France
3          Ulysses
4           Tyisha
5             Eric
6             Marg
7          Laquita
8             Lura
9           Yuette
10        Fernanda
11     Charlesetta
12        Corrinne
13          Niesha
14          Rueben
15         Michell
16           Edgar
17          Dewitt
18        Charisse
19             Mee
20           Peter
21         Octavio
22          Martha
23         Tamesha
24            Tess
25         Leonard
26        Svetlana
27             Pok
28       Augustine
29           Karma
          ...
470           Tony
471            Val
472            Mel
473       Isabella
474         Erasmo
475          Ivory
476         Nikita
477          Aleta
478           Owen
479        Pauline
480        Tijuana
481          Ahmad
482         Jamika
483        Derrick
484     Jacquelyne
485        Zachary
486         Sophia
487       Isabelle
488         Ronnie
489       Krystina
490         Rosita
491           Huey
492         Elbert
493           Pura
494         Alesia
495          Avery
496           Reid
497      Charlette
498      Celestina
499             Mi
Name: first_name, Length: 500, dtype: object

In [78]:
data.iloc[:,1] # second column of data frame (last_name)

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object

In [79]:
data.iloc[:,-1] # last column of data frame (id)

0      436
1      973
2      549
3      755
4      352
5      352
6      959
7      710
8      994
9       47
10     196
11     813
12     380
13     633
14     569
15     726
16     403
17     409
18     376
19     716
20     824
21      99
22     953
23     959
24     394
25     149
26     520
27      29
28     698
29     547
      ...
470    750
471     74
472    210
473    640
474    360
475    327
476    139
477    126
478    481
479    959
480    974
481     14
482    486
483    497
484     99
485    628
486    939
487    505
488      7
489    301
490    113
491    635
492    440
493    215
494    746
495    322
496    239
497    984
498    421
499    755
Name: id, Length: 500, dtype: int64

Multiple columns and rows can be selected together using the .iloc indexer and Python slices syntax:

In [80]:
data.iloc[0:5] # first five rows of dataframe

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,436
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,973
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,549
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,755
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,352

In [81]:
data.iloc[:, 0:2] # first two columns of data frame with all rows

      first_name   last_name
0        Aleshia  Tomkiewicz
1           Evan   Zigomalas
2         France     Andrade
3        Ulysses   Mcwalters
4         Tyisha      Veness
5           Eric       Rampy
6           Marg    Grasmick
7        Laquita       Hisaw
8           Lura    Manzella
9         Yuette      Klapec
10      Fernanda      Writer
11   Charlesetta         Erm
12      Corrinne       Jaret
13        Niesha       Bruch
14        Rueben   Gastellum
15       Michell   Throssell
16         Edgar       Kanne
17        Dewitt       Julio
18      Charisse    Spinello
19           Mee    Lapinski
20         Peter   Gutierres
21       Octavio   Salvadore
22        Martha     Teplica
23       Tamesha      Veigel
24          Tess       Sitra
25       Leonard      Kufner
26      Svetlana      Tauras
27           Pok    Molaison
28     Augustine    Growcock
29         Karma      Quarto
..           ...         ...
470         Tony  Diazdeleon
471          Val      Villot
472          Mel    Picciuto
473     Isabella  Piatkowski
474       Erasmo        Rhea
475        Ivory     Lohrenz
476       Nikita       Walka
477        Aleta      Ligons
478         Owen     Jentzen
479      Pauline       Fling
480      Tijuana    Machalek
481        Ahmad     Alsaqri
482       Jamika      Conoly
483      Derrick     Dolloff
484   Jacquelyne     Reibman
485      Zachary  Freeburger
486       Sophia     Gaucher
487     Isabelle        Kono
488       Ronnie     Brigman
489     Krystina  Schlabaugh
490       Rosita   Ausdemore
491         Huey     Stancil
492       Elbert     Fiorino
493         Pura     Manciel
494       Alesia       Katie
495        Avery        Veit
496         Reid     Euresti
497    Charlette    Brenning
498    Celestina       Keeny
499           Mi      Richan

[500 rows x 2 columns]

In [82]:
data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

   first_name        county    postal
0     Aleshia          Kent   CT2 7PP
3     Ulysses  Lincolnshire  DN36 5RP
6        Marg   Southampton  SO14 3TY
24       Tess   West Sussex  PO19 1RH

In [83]:
data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

            county    postal        phone1
0             Kent   CT2 7PP  01835-703597
1  Buckinghamshire  HP11 2AX  01937-864715
2      Bournemouth   BH6 3BE  01347-368222
3     Lincolnshire  DN36 5RP  01912-771311
4    West Midlands   B70 9DT  01547-429341

There’s two thing to consider when using iloc like this:

- `.iloc` returns:
  - a Pandas Series when one row is selected
  - a Pandas DataFrame when multiple rows are selected, or if any column in full is selected.
  
  If you require DataFrame output, pass a single-valued list.

  When using `.loc`, or `.iloc`, you can then control the output format by passing *lists* or *single values* to the selectors.

- When selecting multiple columns or multiple rows in this manner, remember that your selection will go from the first number to one minus the second number, as it is usual with Python.

In practice, it is better to use `.loc`.

In [84]:
data.iloc[:,[1]] # Single column as a DF instead of a Series.

      last_name
0    Tomkiewicz
1     Zigomalas
2       Andrade
3     Mcwalters
4        Veness
5         Rampy
6      Grasmick
7         Hisaw
8      Manzella
9        Klapec
10       Writer
11          Erm
12        Jaret
13        Bruch
14    Gastellum
15    Throssell
16        Kanne
17        Julio
18     Spinello
19     Lapinski
20    Gutierres
21    Salvadore
22      Teplica
23       Veigel
24        Sitra
25       Kufner
26       Tauras
27     Molaison
28     Growcock
29       Quarto
..          ...
470  Diazdeleon
471      Villot
472    Picciuto
473  Piatkowski
474        Rhea
475     Lohrenz
476       Walka
477      Ligons
478     Jentzen
479       Fling
480    Machalek
481     Alsaqri
482      Conoly
483     Dolloff
484     Reibman
485  Freeburger
486     Gaucher
487        Kono
488     Brigman
489  Schlabaugh
490   Ausdemore
491     Stancil
492     Fiorino
493     Manciel
494       Katie
495        Veit
496     Euresti
497    Brenning
498       Keeny
499      Richan

[500 rows x 1 columns]

## Using `loc`

The Pandas `loc` indexer can be used with DataFrames for two different use cases:

1. Selecting rows by label/index
2. Selecting rows with a boolean/conditional lookup

The `loc` indexer is used with the same syntax as iloc: `data.loc[<row selection>, <column selection>]`.

### Label-based / Index-based indexing using `loc`

Selections using the loc method are based on the index of the data frame (if defined). Where the index is set on a DataFrame, using `df.set_index()`, the `.loc` method directly selects based on index values of any rows.

For example, setting the index of our test data frame to the persons "last_name":

In [85]:
data.set_index('last_name', inplace=True)
data.head()

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,436
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,973
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,549
Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,755
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,352

Now with this new index, we can directly select rows for different "last_name" values using `.loc[<label>]`. For example:

In [86]:
data.loc['Andrade']

first_name                                France
company_name                 Elliott, John W Esq
address                             8 Moor Place
city              East Southbourne and Tuckton W
county                               Bournemouth
postal                                   BH6 3BE
phone1                              01347-368222
phone2                              01935-821636
email                 france.andrade@hotmail.com
web             http://www.elliottjohnwesq.co.uk
id                                           549
Name: Andrade, dtype: object

In [87]:
data.loc[['Andrade','Veness']]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,549
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,352

Note that the first example returns a series, and the second returns a DataFrame. You can achieve a single-column DataFrame by passing a single-element list to the `.loc` operation.

Select columns with `.loc` using the names of the columns. In most of the data work, typically thera are named columns, so use these named selections.

In [88]:
data.loc[['Andrade','Veness'], ['first_name','address', 'city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

You can select ranges of index labels – the selection `data.loc['Bruch':'Julio']`will return all rows in the data frame between the index entries for “Bruch” and “Julio”.

The following examples should now make sense:

In [89]:
# Select rows with index values 'Andrade' and 'Veness', with all columns between 'city' and 'email'
data.loc[['Andrade', 'Veness'], 'city':'email']

,city,county,postal,phone1,phone2,email
last_name,,,,,,
Andrade,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com
Veness,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com

In [90]:
# Select same rows, with just 'first_name', 'address' and 'city' columns
data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Mcwalters    Ulysses      505 Exeter Rd              Hawerby cum Beesby
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

Now, we reset the index before selecting the old index. If not, we may end up with a multiple index, a situation we don't want to deal with as of now:

In [91]:
data.reset_index(inplace=True)
data.head()

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,436
1,Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,973
2,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,549
3,Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,755
4,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,352

In [92]:
data.set_index('id', inplace=True)
data.head()

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
436,Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
973,Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
549,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
755,Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
352,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [93]:
# select the row with 'id' = 436
data.loc[436]

last_name                                 Tomkiewicz
first_name                                   Aleshia
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 436, dtype: object

Note that in the last example, `data.loc[436]` (the row with index value 436) **is not equal** to `data.iloc[436]` (the 486th row in the data). The index of the DataFrame can be out of numeric order, and/or a string or multi-value.

Remember that you can also recover the row in a DataFrame format if you specify a list instead of the raw element:

In [94]:
data.loc[[436]]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
436,Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk

### Boolean indexing

Conditional selections with boolean arrays using `data.loc[<selection>]` is a common method to use with Pandas DataFrames. With boolean indexing or logical selection, you pass an array or Series of True/False values to the `.loc` indexer to select the rows where your Series has True values.

In most use cases, you will make selections based on the values of different columns in your data set.

For example, the statement `data['first_name'] == 'Antonio'` produces a Pandas Series with a True/False value for every row in the `data` DataFrame, where there are `True` values for the rows where the first_name is 'Antonio'. These type of boolean arrays can be passed directly to the `.loc` indexer as so:

In [95]:
data.loc[data['first_name'] == 'Antonio']

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
818,Villamarin,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
565,Glasford,Antonio,Saint Thomas Creations,425 Howley St,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk,http://www.saintthomascreations.co.uk
350,Heilig,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

As before, a second argument can be passed to .loc to select particular columns out of the data frame.

Again, columns are referred to by name for the loc indexer and can be a single string, a list of columns, or a slice “:” operation:

In [96]:
data.loc[data['first_name'] == 'Erasmo', ['company_name', 'email', 'phone1']]

           company_name                         email        phone1
id
762  Active Air Systems  erasmo.talentino@hotmail.com  01492-454455
437            Pan Optx             egath@hotmail.com  01445-796544
360    Martin Morrissey       erasmo_rhea@hotmail.com  01507-386397

You can see that when selecting columns, if one column only is selected, the `.loc` operator returns a Series. For a single column DataFrame, use a one-element list to keep the DataFrame format, for example:

In [97]:
data.loc[data['first_name'] == 'Antonio', 'email']

id
818       antonio.villamarin@gmail.com
565    antonio_glasford@glasford.co.uk
350           antonio.heilig@gmail.com
Name: email, dtype: object

In [98]:
data.loc[data['first_name'] == 'Antonio', ['email']]

                               email
id
818     antonio.villamarin@gmail.com
565  antonio_glasford@glasford.co.uk
350         antonio.heilig@gmail.com

Selecting rows with first name Antonio and all columns between 'city' and 'email:

In [99]:
data.loc[data['first_name'] == 'Antonio', 'city':'email']

,city,county,postal,phone1,phone2,email
id,,,,,,
818,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com
565,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk
350,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com

Select rows where the email column ends with 'hotmail.com', include all columns:

In [100]:
data.loc[data['email'].str.endswith("hotmail.com")]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
436,Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
549,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
755,Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
352,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
959,Grasmick,Marg,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
994,Manzella,Lura,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
409,Julio,Dewitt,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk
394,Sitra,Tess,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk
718,Zelaya,German,Jackson & Heit Machine Co Inc,7 Shenstone St,Longhill Ward,"Yorkshire, East (North Humbers",HU8 9PZ,01400-269033,01366-210656,german@hotmail.com,http://www.jacksonheitmachinecoinc.co.uk
582,Ear,Luis,Wa Inst For Plcy Studies,2 Birchfield Rd,Whittington,Shropshire,SY11 4PH,01462-648669,01405-648623,luis@hotmail.com,http://www.wainstforplcystudies.co.uk
85,Cobbley,Ciara,Wmgl 101.7 Fm,7523 Kempton Rd,Cockerton West Ward,Darlington,DL3 0JF,01235-647932,01809-443217,ciara_cobbley@hotmail.com,http://www.wmglfm.co.uk
648,Mould,Alethea,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
569,Rawicki,Vicente,B & S Tool And Cutter Svc Inc,3060 St Ambrose Grove #261,Aldridge Central and South War,West Midlands,WS9 8UR,01327-770774,01286-258121,vicente_rawicki@hotmail.com,http://www.bstoolandcuttersvcinc.co.uk
895,Cua,Craig,"Berry, John M Esq",8388 Bessemer St #5,East Putney Ward,Greater London,SW15 2RP,01483-418969,01818-980469,craig@hotmail.com,http://www.berryjohnmesq.co.uk
718,Dulle,Jenise,"Alden, Michael H Esq",87 Pownall Sq,Sawston,Cambridgeshire,CB22 3BB,01709-854691,01572-193368,jenise.dulle@hotmail.com,http://www.aldenmichaelhesq.co.uk
479,Bunselmeyer,Annett,Guynes Design Inc,5562 Fairfield St #847,Ryde,Isle of Wight,PO33 1HH,01891-702579,01333-972244,abunselmeyer@hotmail.com,http://www.guynesdesigninc.co.uk
118,Sandlin,Domonique,Marketing Horizons Inc,95 Denton St,Wollaton West Ward,Nottinghamshire,NG8 2NB,01355-500797,01987-728730,domonique@hotmail.com,http://www.marketinghorizonsinc.co.uk
513,Kamens,Chantay,Brewster Wallcoverings Co,763 Parkfield Rd,Norton Canes,Staffordshire,WS11 9RH,01823-383806,01245-146126,ckamens@hotmail.com,http://www.brewsterwallcoveringsco.co.uk
429,Ferenz,Stefany,L & L Sales Co Inc,636 Portland Place,Gresham Ward,Middlesbrough,TS1 4RG,01743-977277,01704-986828,stefany@hotmail.com,http://www.llsalescoinc.co.uk
98,Rubano,Wendell,Automation Engrg & Mfg Inc,1 Back Canning St,Dunblane and Bridge of Allan W,Stirling,FK9 4LD,01837-530939,01752-386691,wendell_rubano@hotmail.com,http://www.automationengrgmfginc.co.uk
895,Frankel,Una,Shamrock Food Service,6766 Britton St #379,Crompton Ward,Greater Manchester,BL1 3EX,01912-749219,01308-356704,ufrankel@hotmail.com,http://www.shamrockfoodservice.co.uk
529,Dormanen,Mammie,Matt Parrott & Sons Co,2577 Toxteth St #5,Overton Ward,Lancashire,BB6 7UN,01527-579687,01439-184366,mammie_dormanen@hotmail.com,http://www.mattparrottsonsco.co.uk
231,Faurote,Eloisa,"Mcdonald, Michael J Esq",7033 Micawber St,Bintree,Norfolk,NR20 5NQ,01337-695353,01747-999761,eloisa.faurote@hotmail.com,http://www.mcdonaldmichaeljesq.co.uk
710,Langenbach,Sena,Alternative Collection Svc Inc,38 Avondale Rd #79,Kilmersdon,Somerset,BA3 5SJ,01756-678490,01836-695245,sena.langenbach@hotmail.com,http://www.alternativecollectionsvcinc.co.uk
884,Sovel,Wade,Manhattan Supply Co Deer Pk,2546 Hunter St,Central Buchan Ward,Aberdeenshire,AB53 6YD,01712-978062,01317-960371,wade@hotmail.com,http://www.manhattansupplycodeerpk.co.uk
280,Conatser,Deja,Universal Case Co,94 Wakefield St,Lavenham,Suffolk,CO10 9PU,01378-234592,01879-981256,deja.conatser@hotmail.com,http://www.universalcaseco.co.uk
628,Casper,Earnestine,A O J Mfg Corp,529 Stalmine Rd #3680,Saffron Walden,Essex,CB11 4DJ,01807-346103,01260-744622,earnestine_casper@hotmail.com,http://www.aojmfgcorp.co.uk
552,Hawkin,Rodrigo,"Godfroy, William Esq",661 Great Crosshall St,Forth Ward,City of Edinburgh,EH5 2LR,01936-611490,01280-275755,rodrigo@hotmail.com,http://www.godfroywilliamesq.co.uk
439,Dondero,Casey,Sarrail Lynch & Hall,464 Back Nile St #618,Acton Central Ward,Greater London,W3 6QJ,01728-100333,01862-338494,casey.dondero@hotmail.com,http://www.sarraillynchhall.co.uk
250,Nobel,Wei,Victory Coating,5221 Royston St,Eccleshall,Staffordshire,ST21 6GA,01912-146880,01608-570699,wei_nobel@hotmail.com,http://www.victorycoating.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
201,Carris,Gail,Audrey M Borland Studios,6 Conyers St #3346,Hamilton South Ward,South Lanarkshire,ML3 7TE,01292-196869,01547-190531,gcarris@hotmail.com,http://www.audreymborlandstudios.co.uk
914,Oropeza,Dong,"Mayo, Timothy L Esq",8657 Cedar St #2,Kinross-shire Ward,Perth and Kinross,KY13 8EQ,01573-788734,01955-221720,doropeza@hotmail.com,http://www.mayotimothylesq.co.uk
886,Araiza,Narcisa,Danka Business Systems,8783 High St,Milton,Cambridgeshire,CB24 6ZR,01724-644767,01689-339758,naraiza@hotmail.com,http://www.dankabusinesssystems.co.uk
257,Yu,Tamra,Davis Commercial Contracting,2 Park Rd Walton #4338,Lansdown Ward,Gloucestershire,GL50 2LF,01891-816938,01635-523740,tamra.yu@hotmail.com,http://www.daviscommercialcontracting.co.uk
631,Donham,Aracelis,Sm Toth Baldridge & Van Belkum,593 Kinglake St,Fowlmere,Cambridgeshire,SG8 7TP,01924-111018,01420-311467,aracelis.donham@hotmail.com,http://www.smtothbaldridgevanbelkum.co.uk
739,Perera,Chana,Olden Camera & Lens Co Inc,9 Ogwen St,Murdostoun Ward,North Lanarkshire,ML2 8LW,01477-796750,01858-335054,chana.perera@hotmail.com,http://www.oldencameralenscoinc.co.uk
866,Mandril,Sueann,El Hispanic News,751 Stamford St,Werrington,Staffordshire,ST9 0AH,01886-226100,01717-449960,smandril@hotmail.com,http://www.elhispanicnews.co.uk
643,Hoyal,Alayna,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
796,Saik,Royce,Best Western Caprock Inn,2 Maple Grove,Kincorth,Aberdeenshire,AB12 5EJ,01972-770618,01431-812225,royce@hotmail.com,http://www.bestwesterncaprockinn.co.uk
33,Gone,Felice,A F Supl Co Div Automtc Firing,7602 Grantham St,Hexham,Northumberland,NE46 1QQ,01691-816025,01888-857515,felice.gone@hotmail.com,http://www.afsuplcodivautomtcfiring.co.uk
904,Leadbeater,Stefania,Murray Whisnant Architects,10 Carisbrooke St,Shorne,Kent,DA12 3ED,01706-546951,01356-906646,stefania_leadbeater@hotmail.com,http://www.murraywhisnantarchitects.co.uk
900,Tritten,Anglea,Waltons Carson Gardens,8 Thomaston St,Astley Bridge Ward,Greater Manchester,BL1 8RG,01818-292728,01436-350784,anglea_tritten@hotmail.com,http://www.waltonscarsongardens.co.uk
592,Hascall,Germaine,Prg Company,1616 Menzies St #453,Tadworth and Walton Ward,Surrey,KT20 7PA,01366-388506,01957-962781,ghascall@hotmail.com,http://www.prgcompany.co.uk
172,Schellenberge,Vicky,Medlab Environmental Test Inc,3922 Leda St,Moreton Morrell,Warwickshire,CV35 9BX,01625-805645,01602-772009,vschellenberge@hotmail.com,http://www.medlabenvironmentaltestinc.co.uk
672,Gesell,Teresita,Mason Insurance Agency Inc,2015 Suburban Rd,Springfield Ward,Greater London,N16 6TD,01914-501391,01372-236506,teresita_gesell@hotmail.com,http://www.masoninsuranceagencyinc.co.uk
358,Scarsella,Quiana,Looking Good,1400 Ash St,Thorpe Hamlet Ward,Norfolk,NR1 4HS,01446-936944,01492-687388,quiana_scarsella@hotmail.com,http://www.lookinggood.co.uk
701,Baldock,Anabel,William A Geppert True Value,30 Marine Parade #1,Staina Ward,Lancashire,FY5 4FN,01994-675650,01845-742562,anabel_baldock@hotmail.com,http://www.williamagepperttruevalue.co.uk
45,Vera,Rashida,Creative Consultants,8451 Bengel St,Brixham,Devon,TQ5 9JW,01286-317691,01913-489634,rashida@hotmail.com,http://www.creativeconsultants.co.uk
97,Tischner,Altha,Male Power Ltd,650 Goring St,Rainham South Ward,Kent,ME8 9PN,01373-594236,01698-785700,altha@hotmail.com,http://www.malepowerltd.co.uk
467,Yaccarino,Dortha,Atc Power Systems,6 Chestnut St,Gwersyllt Community,Wrexham,LL11 4RJ,01528-240870,01254-458143,dortha@hotmail.com,http://www.atcpowersystems.co.uk
936,Yafaie,Vallie,Micro Lan,352 Strathmore Rd,Shiphay-with-the-Willows Ward,Devon,TQ2 7JB,01251-120872,01630-603260,vyafaie@hotmail.com,http://www.microlan.co.uk
360,Rhea,Erasmo,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk
327,Lohrenz,Ivory,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk
139,Walka,Nikita,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk
126,Ligons,Aleta,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
939,Gaucher,Sophia,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
113,Ausdemore,Rosita,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
635,Stancil,Huey,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
440,Fiorino,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
755,Richan,Mi,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

Select rows with last_name equal to some values, all columns:

In [101]:
data.loc[data['first_name'].isin(['France', 'Tyisha', 'Eric'])]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
549,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
352,Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
352,Rampy,Eric,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk

Select rows with first name 'Antonio' **AND** hotmail email addresses:

In [102]:
data.loc[data['email'].str.endswith("gmail.com") & (data['first_name'] == 'Antonio')]

,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,,
818,Villamarin,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
350,Heilig,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

Select rows with id column between 100 and 200, and just return 'postal' and 'web' columns. But let's first reset the index so `id` is a column:

In [103]:
data.reset_index(inplace=True)
data.loc[(data['id'] > 100) & (data['id'] <= 200), ['postal', 'web']]

       postal                                          web
10    DA2 7PP             http://www.krassociatesinc.co.uk
25    HS1 2PZ   http://www.arcticstardistributinginc.co.uk
37    SL3 0PY            http://www.novakalanpaulesq.co.uk
51    NG8 2NB        http://www.marketinghorizonsinc.co.uk
56   PL14 5PA            http://www.kennedyscalesinc.co.uk
57    B34 7BP      http://www.barajasbustamantearchl.co.uk
59    NG6 8RG         http://www.bohswelldrillinginc.co.uk
61   GU21 5QL            http://www.reidcarletonbesq.co.uk
93    E14 5DR              http://www.rosatimarcdesq.co.uk
98    M33 4BP        http://www.taosvalleyresortassn.co.uk
109  DL10 7NU             http://www.walkersusansesq.co.uk
118   CT7 9BG      http://www.sunderlandpublishingco.co.uk
134   M32 8LR                     http://www.fanshop.co.uk
143  PL31 1QF           http://www.thompsonchesneymd.co.uk
144  SW1X 9HB            http://www.youngdoorcompany.co.uk
152   B75 6HJ        http://www.barnettindustriesinc.co.uk
154    L6 1BG       http://www.greenpointsavingsbank.co.uk
166   M29 7AA            http://www.rosenkrancebrent.co.uk
174   B38 8PL          http://www.owensborobricktile.co.uk
185   TW1 2QH                http://www.allcountyinc.co.uk
199   ME2 2NJ         http://www.shirleysprintshoppe.co.uk
201  SA15 5YN                http://www.kcproductsco.co.uk
202   SE1 6EH  http://www.engelbrechtackermanhassman.co.uk
206  TN38 9NE                  http://www.denticator.co.uk
208  BN44 3DF           http://www.gallagherjohnjesq.co.uk
215  NR12 0YB         http://www.jimdunnambuilderinc.co.uk
230  LE11 4PF             http://www.hancockjohnjesq.co.uk
234  DY14 9XQ             http://www.abedoorswindows.co.uk
240  NN15 5DB      http://www.kaysersnutritioncenter.co.uk
242  ME19 4DT         http://www.proctorassociatesco.co.uk
257  NN12 8AA        http://www.ithacaguitarworksinc.co.uk
262   DL6 2AS          http://www.registerprintingco.co.uk
264   PR1 6TL             http://www.aplumberssupply.co.uk
283  KY16 9EE                 http://www.wkyamstereo.co.uk
287  PE30 1QE    http://www.johnnodaalawofclawrencee.co.uk
298  KT11 2HT               http://www.kyestvchannel.co.uk
308    E9 7NG                http://www.poaggraininc.co.uk
311   FY8 3TF                http://www.nursefinders.co.uk
334   HA3 6TH       http://www.miltonterryassociates.co.uk
344    W2 3JT              http://www.mullinsglenesq.co.uk
346   G40 4BH               http://www.rammmetalsinc.co.uk
347  BD15 0NJ              http://www.finleycolmerco.co.uk
349  FK10 2LA          http://www.anstoettermarkdesq.co.uk
360   L24 6SH              http://www.cullenjackjesq.co.uk
361  KT22 8AP   http://www.bridgervalleygeneralstore.co.uk
375  KA26 0DY       http://www.reliablemetalcraftinc.co.uk
389  SN10 3FQ             http://www.bethesdagazette.co.uk
401  EH20 9SJ         http://www.alaskastatetroopers.co.uk
406  NE24 3DQ             http://www.idehaigneyradio.co.uk
412   PE3 7BJ          http://www.verinuproductscorp.co.uk
420   BB1 2AA               http://www.westoaksglass.co.uk
437  LS26 8XE           http://www.brennerstevengesq.co.uk
448  CV35 9BX  http://www.medlabenvironmentaltestinc.co.uk
449   WV5 0LP              http://www.leemcompanyinc.co.uk
451  LL16 5AF                http://www.lykesbrosinc.co.uk
454   DD1 5EF            http://www.solomonmetalsinc.co.uk
462  WA10 6QG                     http://www.fhkcorp.co.uk
476  NG15 8DD              http://www.fredanthonyesq.co.uk
477  KA15 1AT        http://www.advantagebookkeeping.co.uk
490  BN27 1AJ              http://www.jurdemscottesq.co.uk

A lambda function that yields True/False values can also be used. Let's use it to select rows where the company name has 4 words in it:

In [105]:
data.loc[data['company_name'].apply(lambda x: len(x.split(' ')) == 4)]

,id,last_name,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,549,Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
5,352,Rampy,Eric,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
11,813,Erm,Charlesetta,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
15,726,Throssell,Michell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
16,403,Kanne,Edgar,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
19,716,Lapinski,Mee,Galloway Electric Co Inc,9 Pengwern St,Marldon,Devon,TQ3 1SA,01578-287816,01939-815208,mee.lapinski@yahoo.com,http://www.gallowayelectriccoinc.co.uk
20,824,Gutierres,Peter,Niagara Custombuilt Mfg Co,4410 Tarlton St,Prestatyn Community,Denbighshire,LL19 9EG,01842-767201,01859-648598,peter_gutierres@yahoo.com,http://www.niagaracustombuiltmfgco.co.uk
22,953,Teplica,Martha,"Curtin, Patricia M Esq",148 Rembrandt St,Warlingham,Surrey,CR6 9SW,01677-684257,01583-287367,mteplica@teplica.co.uk,http://www.curtinpatriciamesq.co.uk
23,959,Veigel,Tamesha,"Wilhelm, James E Jr",2200 Nelson St #58,Newport,Isle of Wight,PO30 5AL,01217-342071,01280-786847,tveigel@veigel.co.uk,http://www.wilhelmjamesejr.co.uk
25,149,Kufner,Leonard,Arctic Star Distributing Inc,41 Canning St,Steornabhagh a Deas Ward,Western Isles,HS1 2PZ,01230-623547,01604-718601,lkufner@kufner.co.uk,http://www.arcticstardistributinginc.co.uk
26,520,Tauras,Svetlana,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk
29,547,Quarto,Karma,J C S Machinery,1 Birkett St,Shard End Ward,West Midlands,B33 0NH,01857-864722,01307-667811,kquarto@gmail.com,http://www.jcsmachinery.co.uk
30,434,Weisinger,Reed,"Berick, Joseph G Esq",5147 Blackstone St,Letchworth South West Ward,Hertfordshire,SG6 3LE,01243-678286,01292-297245,reed_weisinger@yahoo.com,http://www.berickjosephgesq.co.uk
32,742,Savidge,Milly,Bridgeway Plan For Health,129 Alexander Pope St,Franche Ward,Hereford and Worcester,DY11 9BW,01702-725589,01421-132652,milly@gmail.com,http://www.bridgewayplanforhealth.co.uk
35,648,Mould,Alethea,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
36,441,Loperfido,Margurite,Penrose Place Pharmacy Inc,218 Greenbank Drive,Devizes,Wiltshire,SN10 3DU,01407-866759,01640-661191,mloperfido@gmail.com,http://www.penroseplacepharmacyinc.co.uk
37,126,Sperazza,Vernice,"Novak, Alan Paul Esq",8921 Forge St,Colnbrook with Poyle,Buckinghamshire,SL3 0PY,01822-563044,01765-519419,vernice@yahoo.com,http://www.novakalanpaulesq.co.uk
39,895,Cua,Craig,"Berry, John M Esq",8388 Bessemer St #5,East Putney Ward,Greater London,SW15 2RP,01483-418969,01818-980469,craig@hotmail.com,http://www.berryjohnmesq.co.uk
40,718,Dulle,Jenise,"Alden, Michael H Esq",87 Pownall Sq,Sawston,Cambridgeshire,CB22 3BB,01709-854691,01572-193368,jenise.dulle@hotmail.com,http://www.aldenmichaelhesq.co.uk
45,614,Orizabal,Melina,Sheraton Inn Ocean Front,3 Nevison St,Lymington and Pennington,Hampshire,SO41 1DL,01420-307327,01245-559333,melina@gmail.com,http://www.sheratoninnoceanfront.co.uk
46,821,Clapham,Tina,Cooper Myers Y Co,5662 William Moult St,Aylesbury,Buckinghamshire,HP21 8PP,01567-296442,01493-245349,tclapham@gmail.com,http://www.coopermyersyco.co.uk
49,15,Kunimitsu,Carrol,Kisc 98 Kiss Fm,1 Askew St,Farnham,Surrey,GU9 9AS,01260-641258,01415-364461,carrol_kunimitsu@yahoo.com,http://www.kisckissfm.co.uk
50,290,Mosseri,Alba,"Schwartzbard, Gail L Esq",4 Burnall St,Beeston West Ward,Nottinghamshire,NG9 1AE,01543-198690,01231-806535,alba@gmail.com,http://www.schwartzbardgaillesq.co.uk
52,490,Neufville,Rory,"Brady, Brad J Esq",5 Chadwick St #7,Llangeler Community,Ceredigion,SA44 5HF,01252-621329,01442-700486,rory_neufville@neufville.co.uk,http://www.bradybradjesq.co.uk
57,138,Salta,Justine,Barajas & Bustamante Archl,85 Bridgewater St,Shard End Ward,West Midlands,B34 7BP,01689-253476,01376-851958,justine_salta@yahoo.com,http://www.barajasbustamantearchl.co.uk
59,186,Chisum,Tequila,Bohs Well Drilling Inc,662 Grove Park,Bulwell Ward,Nottinghamshire,NG6 8RG,01835-634521,01702-946496,tequila.chisum@chisum.co.uk,http://www.bohswelldrillinginc.co.uk
60,969,Consolazio,Maybelle,"Gavin, Lee W Esq",5410 Lawton St,Treorchy Community,Rhondda Cynon Taff,CF42 6PL,01383-647035,01351-200904,mconsolazio@yahoo.com,http://www.gavinleewesq.co.uk
61,173,Bairo,Margarett,"Reid, Carleton B Esq",3 August Rd,Maybury and Sheerwater Ward,Surrey,GU21 5QL,01670-813697,01903-424890,margarett@gmail.com,http://www.reidcarletonbesq.co.uk
65,556,Yadao,Lindsay,"Lutz, Christopher T Esq",7 Jolliffe St,Middlewich,Cheshire,CW10 9GB,01947-566661,01481-295251,lindsay_yadao@yadao.co.uk,http://www.lutzchristophertesq.co.uk
72,99,Stifflemire,Stevie,Packaging Corp Of America,9 Gradwell St,Kempshott Ward,Hampshire,RG22 5HA,01262-808399,01411-169215,stevie_stifflemire@stifflemire.co.uk,http://www.packagingcorpofamerica.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...
413,516,Plues,Shelia,"Schen, Sanford E Md",9730 Dunnet St,Silloth-on-Solway,Cumbria,CA7 4RB,01818-260618,01574-927461,shelia@gmail.com,http://www.schensanfordemd.co.uk
415,680,Frede,Evelynn,"Hasselberg, Michael R Esq",8 Breckfield Road North,Seaham,County Durham,SR7 0AZ,01289-621482,01571-460710,evelynn.frede@gmail.com,http://www.hasselbergmichaelresq.co.uk
418,670,Maricle,Dusti,"Garton, Jeffrey P Esq",59 Charles St,Victoria Ward,Kent,TN23 4GF,01642-202972,01806-219415,dusti@gmail.com,http://www.gartonjeffreypesq.co.uk
421,16,Stackpole,Leana,Direct Tools & Fasteners,690 Copenhagen Rd,Warham,Norfolk,NR23 1NJ,01248-325090,01386-257445,lstackpole@yahoo.com,http://www.directtoolsfasteners.co.uk
422,696,Homer,Man,Applied Robotic Tech Inc,7 Canton St,Mildmay Ward,Greater London,N1 4RF,01590-219449,01855-550515,man.homer@gmail.com,http://www.appliedrobotictechinc.co.uk
424,289,Naomi,Arletta,E Zaks & Co,9 Lodwick St,City and Hunslet Ward,West Yorkshire,LS1 8HZ,01255-805722,01518-773815,arletta_naomi@naomi.co.uk,http://www.ezaksco.co.uk
426,764,Pao,Nell,"Madaus, Gerald F Jr",1730 Seymour St,Eastbrook Ward,Brighton and Hove,BN41 1QH,01308-582144,01773-576318,npao@gmail.com,http://www.madausgeraldfjr.co.uk
430,643,Hoyal,Alayna,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
433,796,Saik,Royce,Best Western Caprock Inn,2 Maple Grove,Kincorth,Aberdeenshire,AB12 5EJ,01972-770618,01431-812225,royce@hotmail.com,http://www.bestwesterncaprockinn.co.uk
434,814,Sorrel,Cherelle,"Wiltgen, Nancy A Esq",794 Hook St,Benwell and Scotswood Ward,Tyne and Wear,NE15 7JA,01753-327307,01212-458253,cherelle_sorrel@gmail.com,http://www.wiltgennancyaesq.co.uk
435,352,Dibartolo,Dudley,"Mcknight, H Vincent Jr",91 Ludlow St,Woodhouse Ward,Greater London,N12 0EF,01997-409950,01722-935404,dudley_dibartolo@yahoo.com,http://www.mcknighthvincentjr.co.uk
436,630,Aldaco,Nettie,Miller Searl & Fitch,51 Freehold St #224,Wheatley Ward,"Yorkshire, South",DN2 4PP,01388-974910,01681-983353,nettie.aldaco@yahoo.com,http://www.millersearlfitch.co.uk
437,190,Bulcao,Carline,"Brenner, Steven G Esq",7 Hey Green Rd #4,Rothwell Ward,West Yorkshire,LS26 8XE,01885-707109,01381-330004,carline@yahoo.com,http://www.brennerstevengesq.co.uk
440,691,Study,Lovetta,Borton Petrini & Conron,1 Jervis St,High Barnet Ward,Greater London,EN5 4LH,01593-438141,01424-249976,lovetta@study.co.uk,http://www.bortonpetriniconron.co.uk
444,276,Farrin,Paul,"Dering, James E Esq",7 Varthen St,Town Ward,Kent,DA1 2DL,01407-775572,01879-963638,paul.farrin@farrin.co.uk,http://www.deringjameseesq.co.uk
446,588,Bowhall,Ona,Cohen And Fromm Pc,527 Harding St,Market Rasen,Lincolnshire,LN8 3AD,01467-554624,01984-207421,ona@yahoo.com,http://www.cohenandfrommpc.co.uk
448,172,Schellenberge,Vicky,Medlab Environmental Test Inc,3922 Leda St,Moreton Morrell,Warwickshire,CV35 9BX,01625-805645,01602-772009,vschellenberge@hotmail.com,http://www.medlabenvironmentaltestinc.co.uk
450,796,Adelsperger,Rusty,"Clarke, James H Esq",4313 Princes Park Terrace,Launceston,Cornwall,PL15 9QN,01467-172590,01338-121225,rusty.adelsperger@yahoo.com,http://www.clarkejameshesq.co.uk
452,672,Gesell,Teresita,Mason Insurance Agency Inc,2015 Suburban Rd,Springfield Ward,Greater London,N16 6TD,01914-501391,01372-236506,teresita_gesell@hotmail.com,http://www.masoninsuranceagencyinc.co.uk
453,241,Gius,Evangelina,J T Painting Corp,769 Euston St,Glastonbury,Somerset,BA6 8EY,01563-997671,01377-310696,evangelina.gius@yahoo.com,http://www.jtpaintingcorp.co.uk
457,62,Weissmann,Domitila,"Ciocia, James A Esq",28 Berwick St,Moordown Ward,Bournemouth,BH9 1TT,01606-833878,01928-189722,domitila@gmail.com,http://www.ciociajamesaesq.co.uk
460,859,Blyler,Carlton,Hardware Specialty Co Inc,8 Pim Hill St,Portobello,City of Edinburgh,EH15 2HW,01437-681317,01604-200932,carlton@blyler.co.uk,http://www.hardwarespecialtycoinc.co.uk
467,783,Khov,Peggy,"Goldberg, Stephen M Esq",328 Pallas St,Longford Ward,Greater Manchester,M32 8LJ,01619-237602,01648-417310,peggy.khov@gmail.com,http://www.goldbergstephenmesq.co.uk
473,640,Piatkowski,Isabella,"Miller, William E Iii",9283 Ruth St #81,Dormers Wells Ward,Greater London,UB1 2FH,01979-186995,01998-980054,isabella_piatkowski@piatkowski.co.uk,http://www.millerwilliameiii.co.uk
480,974,Machalek,Tijuana,"Schwartz, Thomas E Esq",1149 Highfield Rd #996,Fareham South Ward,Hampshire,PO14 9JJ,01242-532395,01336-686264,tijuana.machalek@gmail.com,http://www.schwartzthomaseesq.co.uk
481,14,Alsaqri,Ahmad,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
484,99,Reibman,Jacquelyne,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
487,505,Kono,Isabelle,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
492,440,Fiorino,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
498,421,Keeny,Celestina,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk

Selections can be achieved outside of the main `.loc` for clarity. First, form a separate variable with your selections:

In [110]:
idx = data['company_name'].apply(lambda x: len(x.split(' ')) == 4)
idx

0      False
1      False
2       True
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19      True
20      True
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28     False
29      True
       ...
470    False
471    False
472    False
473     True
474    False
475    False
476    False
477    False
478    False
479    False
480     True
481     True
482    False
483    False
484     True
485    False
486    False
487     True
488    False
489    False
490    False
491    False
492     True
493    False
494    False
495    False
496    False
497    False
498     True
499    False
Name: company_name, Length: 500, dtype: bool

Then, select only the True values in `idx` and only the 3 columns specified:

In [111]:
data.loc[idx, ['email', 'first_name', 'company_name']]

,email,first_name,company_name
2,france.andrade@hotmail.com,France,"Elliott, John W Esq"
5,erampy@rampy.co.uk,Eric,"Thompson, Michael C Esq"
11,charlesetta_erm@gmail.com,Charlesetta,"Cain, John M Esq"
15,mthrossell@throssell.co.uk,Michell,Weiss Spirt & Guyer
16,edgar.kanne@yahoo.com,Edgar,"Crowan, Kenneth W Esq"
19,mee.lapinski@yahoo.com,Mee,Galloway Electric Co Inc
20,peter_gutierres@yahoo.com,Peter,Niagara Custombuilt Mfg Co
22,mteplica@teplica.co.uk,Martha,"Curtin, Patricia M Esq"
23,tveigel@veigel.co.uk,Tamesha,"Wilhelm, James E Jr"
25,lkufner@kufner.co.uk,Leonard,Arctic Star Distributing Inc
26,svetlana_tauras@tauras.co.uk,Svetlana,"Lensbower, Gregory L Esq"
29,kquarto@gmail.com,Karma,J C S Machinery
30,reed_weisinger@yahoo.com,Reed,"Berick, Joseph G Esq"
32,milly@gmail.com,Milly,Bridgeway Plan For Health
35,alethea@hotmail.com,Alethea,"Hughlett, Henry T Jr"
36,mloperfido@gmail.com,Margurite,Penrose Place Pharmacy Inc
37,vernice@yahoo.com,Vernice,"Novak, Alan Paul Esq"
39,craig@hotmail.com,Craig,"Berry, John M Esq"
40,jenise.dulle@hotmail.com,Jenise,"Alden, Michael H Esq"
45,melina@gmail.com,Melina,Sheraton Inn Ocean Front
46,tclapham@gmail.com,Tina,Cooper Myers Y Co
49,carrol_kunimitsu@yahoo.com,Carrol,Kisc 98 Kiss Fm
50,alba@gmail.com,Alba,"Schwartzbard, Gail L Esq"
52,rory_neufville@neufville.co.uk,Rory,"Brady, Brad J Esq"
57,justine_salta@yahoo.com,Justine,Barajas & Bustamante Archl
59,tequila.chisum@chisum.co.uk,Tequila,Bohs Well Drilling Inc
60,mconsolazio@yahoo.com,Maybelle,"Gavin, Lee W Esq"
61,margarett@gmail.com,Margarett,"Reid, Carleton B Esq"
65,lindsay_yadao@yadao.co.uk,Lindsay,"Lutz, Christopher T Esq"
72,stevie_stifflemire@stifflemire.co.uk,Stevie,Packaging Corp Of America
...,...,...,...
413,shelia@gmail.com,Shelia,"Schen, Sanford E Md"
415,evelynn.frede@gmail.com,Evelynn,"Hasselberg, Michael R Esq"
418,dusti@gmail.com,Dusti,"Garton, Jeffrey P Esq"
421,lstackpole@yahoo.com,Leana,Direct Tools & Fasteners
422,man.homer@gmail.com,Man,Applied Robotic Tech Inc
424,arletta_naomi@naomi.co.uk,Arletta,E Zaks & Co
426,npao@gmail.com,Nell,"Madaus, Gerald F Jr"
430,alayna_hoyal@hotmail.com,Alayna,South Bldg Code Congres
433,royce@hotmail.com,Royce,Best Western Caprock Inn
434,cherelle_sorrel@gmail.com,Cherelle,"Wiltgen, Nancy A Esq"
435,dudley_dibartolo@yahoo.com,Dudley,"Mcknight, H Vincent Jr"
436,nettie.aldaco@yahoo.com,Nettie,Miller Searl & Fitch
437,carline@yahoo.com,Carline,"Brenner, Steven G Esq"
440,lovetta@study.co.uk,Lovetta,Borton Petrini & Conron
444,paul.farrin@farrin.co.uk,Paul,"Dering, James E Esq"
446,ona@yahoo.com,Ona,Cohen And Fromm Pc
448,vschellenberge@hotmail.com,Vicky,Medlab Environmental Test Inc
450,rusty.adelsperger@yahoo.com,Rusty,"Clarke, James H Esq"
452,teresita_gesell@hotmail.com,Teresita,Mason Insurance Agency Inc
453,evangelina.gius@yahoo.com,Evangelina,J T Painting Corp
457,domitila@gmail.com,Domitila,"Ciocia, James A Esq"
460,carlton@blyler.co.uk,Carlton,Hardware Specialty Co Inc
467,peggy.khov@gmail.com,Peggy,"Goldberg, Stephen M Esq"
473,isabella_piatkowski@piatkowski.co.uk,Isabella,"Miller, William E Iii"
480,tijuana.machalek@gmail.com,Tijuana,"Schwartz, Thomas E Esq"
481,ahmad.alsaqri@yahoo.com,Ahmad,Alliance Construction Co Inc
484,jacquelyne_reibman@yahoo.com,Jacquelyne,Great Clips For Hair
487,isabelle.kono@yahoo.com,Isabelle,Rock Springs Petroleum Equip
492,elbert@hotmail.com,Elbert,"Donald, G Nelson Esq"
498,celestina_keeny@gmail.com,Celestina,Bfg Federal Credit Union

# Pandas `apply`, `applymap` and `map`

[Source](https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff)

Let's create a new Dataframe:

In [112]:
df = pd.DataFrame({
    'A': [1,2,3,4], 
    'B': [10,20,30,40],
    'C': [20,40,60,80]
    }, 
    index=['Row 1', 'Row 2', 'Row 3', 'Row 4'])
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

## Using Apply

The Pandas apply() is used to apply a function along an axis of the DataFrame or on values of Series.

Let’s begin with a simple example, to sum each row and save the result to a new column "D":

In [113]:
def custom_sum(row):
    return row.sum()
    
df['D'] = df.apply(custom_sum, axis=1)
df

       A   B   C    D
Row 1  1  10  20   31
Row 2  2  20  40   62
Row 3  3  30  60   93
Row 4  4  40  80  124

Do you really understand what just happened?

Let’s take a look `df.apply(custom_sum, axis=1)`

- The first parameter custom_sum is a function.
- The second parameter axis is to specify which axis the function is applied to. `0` for applying the function to each column and `1` for applying the function to each row.

Let me explain this process in a more intuitive way. The second parameter `axis = 1` tells Pandas to use the row. So, the custom_sum is applied to each row and returns a new Series with the output of each row as value.

With the understanding of the sum of each row, the sum of each column is just to use axis = 0 instead, first clearing out what we just did:

In [114]:
df.drop('D', axis=1, inplace=True)
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

In [45]:
df.loc['Row 5'] = df.apply(custom_sum, axis=0)
df

        A    B    C
Row 1   1   10   20
Row 2   2   20   40
Row 3   3   30   60
Row 4   4   40   80
Row 5  10  100  200

So far, we have been talking about `apply()` on a DataFrame. Similarly, `apply()` can be used on the values of Series. For example, multiply the column **C** by 2 and save the result to a new column **D**:

In [46]:
df.drop('Row 5', inplace=True)
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

In [47]:
def multiply_by_2(val):
    return val * 2

df['D'] = df['C'].apply(multiply_by_2)
df

       A   B   C    D
Row 1  1  10  20   40
Row 2  2  20  40   80
Row 3  3  30  60  120
Row 4  4  40  80  160

Notice that `df['C']` is used to select the column **C** and then call `apply()` with the only parameter `multiply_by_2`. We don’t need to specify axis anymore because Series is a one-dimensional array. The return value is a Series and get assigned to the new column **D** by `df[‘D’]`.

Now, we could do exactly the same for the rows:

In [48]:
df.drop('D', axis=1, inplace=True)
df

       A   B   C
Row 1  1  10  20
Row 2  2  20  40
Row 3  3  30  60
Row 4  4  40  80

In [49]:
df.loc['Row 5'] = df.loc['Row 4'].apply(multiply_by_2)
df

       A   B    C
Row 1  1  10   20
Row 2  2  20   40
Row 3  3  30   60
Row 4  4  40   80
Row 5  8  80  160

### Using labmdas

As we saw in class, you can use Pandas `apply()` function with Labmdas.

The lambda equivalent for the sum of each row of a DataFrame that we used above is:

In [62]:
df

         A     B     C
Row 1  1.0  10.0  20.0
Row 2  2.0  20.0  40.0
Row 3  3.0  30.0  60.0
Row 4  4.0  40.0  80.0

In [63]:
df['D'] = df.apply(lambda x:x.sum(), axis=1)
df

         A     B     C      D
Row 1  1.0  10.0  20.0   31.0
Row 2  2.0  20.0  40.0   62.0
Row 3  3.0  30.0  60.0   93.0
Row 4  4.0  40.0  80.0  124.0

Or, the lambda equivalent for the sum of each column of a DataFrame:

In [64]:
df.loc['Row 5'] = df.apply(lambda x:x.sum(), axis=0)
df

          A      B      C      D
Row 1   1.0   10.0   20.0   31.0
Row 2   2.0   20.0   40.0   62.0
Row 3   3.0   30.0   60.0   93.0
Row 4   4.0   40.0   80.0  124.0
Row 5  10.0  100.0  200.0  310.0

And finally, the lambda equivalent for multiply by 2 on a Series:

In [65]:
df['D'] = df['C'].apply(lambda x:x*2)
df

          A      B      C      D
Row 1   1.0   10.0   20.0   40.0
Row 2   2.0   20.0   40.0   80.0
Row 3   3.0   30.0   60.0  120.0
Row 4   4.0   40.0   80.0  160.0
Row 5  10.0  100.0  200.0  400.0

### Using the `result_type` parameter
`result_type` is a parameter in apply() set to `expand`, `reduce`, or `broadcast` to get the desired type of result.

In what we've done previously, if result_type is set to `broadcast` then the output will be a DataFrame substituted by the custom_sum value:

In [66]:
df.apply(custom_sum, axis=1, result_type='broadcast')

           A      B      C      D
Row 1   71.0   71.0   71.0   71.0
Row 2  142.0  142.0  142.0  142.0
Row 3  213.0  213.0  213.0  213.0
Row 4  284.0  284.0  284.0  284.0
Row 5  710.0  710.0  710.0  710.0

You can see that the result is broadcasted to the original shape of the frame, while the original index and columns are retained.

To understand `result_type`'s `expand` and `reduce`, you will first create a function that returns a list:

In [67]:
def cal_multi_col(row):
    return [row['A'] * 2, row['B'] * 3]

Let's apply this function on the dataframe's columns axis with result_type set as `expand`:

In [68]:
df.apply(cal_multi_col, axis=1, result_type='expand')

          0      1
Row 1   2.0   30.0
Row 2   4.0   60.0
Row 3   6.0   90.0
Row 4   8.0  120.0
Row 5  20.0  300.0

The output is a new DataFrame with column names 0 and 1.

To append this to the existing DataFrame, the result needs to be stored in a variable so the column names can be accessed by `resul.columns`:

In [71]:
resul = df.apply(cal_multi_col, axis=1, result_type='expand')
df[resul.columns] = resul

In [72]:
df

          A      B      C      D     0      1
Row 1   1.0   10.0   20.0   40.0   2.0   30.0
Row 2   2.0   20.0   40.0   80.0   4.0   60.0
Row 3   3.0   30.0   60.0  120.0   6.0   90.0
Row 4   4.0   40.0   80.0  160.0   8.0  120.0
Row 5  10.0  100.0  200.0  400.0  20.0  300.0

Finally, apply the function across axis 1 with `result_type=reduce` . This is just the opposite of `expand` and returns a Series if possible rather than expanding list-like results:

In [73]:
df['New'] = df.apply(cal_multi_col, axis=1, result_type='reduce')

In [74]:
df

          A      B      C      D     0      1            New
Row 1   1.0   10.0   20.0   40.0   2.0   30.0    [2.0, 30.0]
Row 2   2.0   20.0   40.0   80.0   4.0   60.0    [4.0, 60.0]
Row 3   3.0   30.0   60.0  120.0   6.0   90.0    [6.0, 90.0]
Row 4   4.0   40.0   80.0  160.0   8.0  120.0   [8.0, 120.0]
Row 5  10.0  100.0  200.0  400.0  20.0  300.0  [20.0, 300.0]

## Using `applymap()`

`applymap()` is used for element-wise operation across the whole DataFrame. It's an optimized method and in some particular cases it works much faster than `apply()` (but it’s always good to compare it with `apply()` for big operations).

Our example too output a DataFrame with number squared from before, with applymap would be:

In [75]:
df.applymap(np.square)

           A        B        C         D      0        1               New
Row 1    1.0    100.0    400.0    1600.0    4.0    900.0      [4.0, 900.0]
Row 2    4.0    400.0   1600.0    6400.0   16.0   3600.0    [16.0, 3600.0]
Row 3    9.0    900.0   3600.0   14400.0   36.0   8100.0    [36.0, 8100.0]
Row 4   16.0   1600.0   6400.0   25600.0   64.0  14400.0   [64.0, 14400.0]
Row 5  100.0  10000.0  40000.0  160000.0  400.0  90000.0  [400.0, 90000.0]

## Using `map()`

`map()` is only available in Series and used for substituting each value in a Series with a new one.

To get how the map() works, let's create a Series:

In [76]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

`map()` accepts a dict or a Series as input. Values that are not found in the dict are converted to `NaN`, unless the dict has a default value (as is the case of `defaultdict`):

In [77]:
s.map({'cat': 'kitten', 'dog': 'puppy'})

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

`map()` also accepts a function as input:

In [78]:
s.map('I am a {}'.format)

0       I am a cat
1       I am a dog
2       I am a nan
3    I am a rabbit
dtype: object

If you want to avoid applying the function to missing values (and therefore dragging `NaN` down your processing), you can use `na_action='ignore'`:

In [79]:
s.map('I am a {}'.format, na_action='ignore')

0       I am a cat
1       I am a dog
2              NaN
3    I am a rabbit
dtype: object

# Filling up missing Data

[Source](https://www.geeksforgeeks.org/python-pandas-dataframe-fillna-to-replace-null-values-in-dataframe/)

Sometimes our data has null values, which are later displayed as `NaN` in Data Frame. Just like pandas `dropna()` method manages and removes `Null` values from a data frame, `fillna()` manages and let the user replace `NaN` values with some value of their own.

[See the syntax in the Pandas Official Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

## Replacing NaN values with a static value

In [116]:
#!wget https://bit.ly/ks-pds-csv5 -O {files_loc}/nba.csv
#contents = !ls {files_loc}/*nba*
#nba_file = contents[0]

In [118]:
nba = pd.read_csv('nba.csv')
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here, all the null values in College column are going to be replaced with “No college” string. Firstly, the data frame is imported from CSV and then College column is selected and fillna() method is used on it:

In [119]:
nba.fillna({'College':'No College'})

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,No College,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,No College,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,No College,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,No College,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,No College,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,No College,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,No College,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,No College,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No College,NaN

Working in place in the dataframe can be expressed somewhat differently as well:

In [120]:
nba['College'].fillna('No College', inplace=True)
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,No College,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,No College,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,No College,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,No College,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,No College,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,No College,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,No College,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,No College,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No College,NaN

But look at what happens if we use the last syntax and we do not modify in place:

In [122]:
nba = pd.read_csv("nba.csv") # Rereading, we modified nba df before
nba_1 = nba['College'].fillna('No College')
nba_1

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4             No College
5             No College
6                    LSU
7                Gonzaga
8             Louisville
9         Oklahoma State
10            Ohio State
11            Washington
12            Ohio State
13              Kentucky
14        North Carolina
15            No College
16        Oklahoma State
17        North Carolina
18               Arizona
19          Georgia Tech
20            No College
21            Cincinnati
22            Miami (FL)
23              Stanford
24              Syracuse
25           Saint Louis
26                Kansas
27            Georgetown
28             Texas A&M
29          Georgia Tech
             ...
428          Wake Forest
429           Notre Dame
430           California
431       North Carolina
432           St. John's
433                 Duke
434     Central Michigan
435             Illinois
436          Weber State
437               Lehigh
438       Westchester CC
439                 Duke
440               Dayton
441              Indiana
442              Clemson
443             Michigan
444             Colorado
445           No College
446         Georgia Tech
447           No College
448               Butler
449                 Duke
450           No College
451               Dayton
452             Kentucky
453               Butler
454           No College
455           No College
456               Kansas
457           No College
Name: College, Length: 458, dtype: object

In [123]:
type(nba['College'].fillna('No College'))

pandas.core.series.Series

In [124]:
type(nba['College'].fillna('No College', inplace=True))

NoneType

## Using the `method` parameter
Now, let's set the `method` to `ffill` (forward fill) and hence the value in the same column replaces the null value. In this case 'Georgia State' replaced 'null' value in college column of row 4 and 5.

Similarly, bfill, backfill and pad methods can also be used:

In [125]:
nba = pd.read_csv("nba.csv") # Reloading, we modified nba df before
nba['College'].fillna(method='ffill', inplace=True)
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Georgia State,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,North Carolina,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,Georgia Tech,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Colorado,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,Georgia Tech,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,Duke,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Butler,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,Butler,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,NaN

And now, let's do the same but not modifying the nba original dataframe. This is going to involve creating a new series the way we want it and using the [`assign`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html) method on the original dataframe that returns a copy with the desired modifications:

In [126]:
nba = pd.read_csv("nba.csv") # Reloading, we modified nba df before
new_college = nba['College'].fillna(method='ffill')
nba_2 = nba.assign(College=new_college)
nba_2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Georgia State,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,North Carolina,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,Georgia Tech,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Colorado,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,Georgia Tech,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,Duke,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Butler,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,Butler,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,NaN

In [127]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Using `limit`
Let's set a limit of 1 is set in the fillna() method to check if the function stops replacing after one successful replacement of NaN value or not:

In [128]:
nba['College'].fillna(method='ffill', limit=1, inplace=True)
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,North Carolina,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,Georgia Tech,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,Colorado,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,Georgia Tech,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,Duke,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,Butler,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,NaN